/* ==========================================================================
Layout
========================================================================== */
.body {
    background: url(../img/bodyPc.png) no-repeat center center;
    background-size: 100w 100vh;
    background-attachment: fixed;
}

.btnLogoPc {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 241px;
}