/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.reson {
    padding: 14.4% 0% 3.2% 0%;
}
.h2Reson {
    @include mi.ontenerWidth(375, 178.76);
    margin: auto;
}
.resonLxn {
    margin-top: 6.5%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    padding: 4.26% 0% 8.26% 0%;
    @include mi.ontenerWidth(375, 344);
    @include mi.kadomaru(16px);
}
.ulReson {
    @include mi.ontenerWidth(344, 312);
    margin: auto;
}
.liReson {
    &:nth-child(n + 2) {
        @include mi.marginPercent(312, 29, auto, 0, auto);
    }
}
.h3Reson {
    width: 100%;
}
.photoReson {
    width: 100%;
}
.txtEReson {
    @include mi.marginPercent(312, 10, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
}
.picSosonBtm {
    @include mi.marginPercent(375, 19, auto, 0, auto);
    @include mi.ontenerWidth(375, 344);
}
.txtReson {
    margin-top: 4.5%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    @include mi.fontSizePc(24);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    color: #571c1c;
}
