/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.hikaku {
    padding: 8% 0% 10.73% 0%;
}
.cntHikaku {
    @include mi.ontenerWidth(375, 344);
    margin: auto;
}
.txtHikaku {
    @include mi.ontenerWidth(375, 344);
    margin-top: 4.93%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
}
