/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.case2 {
    margin-top: 14%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

.jstabMainCase02_02 {
    display: none;
}
