/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.flow {
    margin-top: 11.66%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    @include mi.ontenerWidth(375, 344);
}
