/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.catBtm {
    margin-top: 8%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}
.h2CatBtm {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
}
.txtCatBtm {
    margin: 3% auto 0 auto;
    @include mi.fontSizePc(13);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
}
.pointCatTop02 {
    margin: 8% auto 0 auto;
}
