a {
    text-decoration: none;
}

.bg_FFFBC7 {
    background: #FFFBC7;
}

.bg_fff {
    background: #fff;
}

.bg_D2F0E1 {
    background: #D2F0E1;
}

.bg_593A1E {
    background: #593A1E;
}

.bg_009E27 {
    background: #009E27;
}

.bg_B9003E {
    background: #B9003E;
}

.bg_fff {
    background: #fff;
}

.bg_6BB72E {
    background: #6BB72E;
}

.bg_5F161E {
    background: #5F161E;
}

.cl_F29800 {
    color: #F29800;
}

.cl_000 {
    color: #000;
}

.cl_fff {
    color: #fff;
}

.cl_797979 {
    color: #797979;
}

.cl_6BB72E {
    color: #6BB72E;
}

.cl_EC6D7B {
    color: #EC6D7B;
}

.cl_5F161E {
    color: #5F161E;
}