a {
    text-decoration: none;
}

.bg_FFFDE3 {
    background: #FFFDE3;
}

.bg_FFFBC7 {
    background: #FFFBC7;
}

.cl_601818 {
    color: #601818;
}

.cl_6B8A2E {
    color: #6B8A2E;
}

.cl_FD9C00 {
    color: #FD9C00;
}

.cl_F39800 {
    color: #F39800;
}