/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../Functions/mixin"as mi;

/* ==========================================================================
Library
========================================================================== */
@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/noto-sans-jp-v56-cyrillic_japanese_latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/noto-sans-jp-v56-cyrillic_japanese_latin-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #323232;
    font-weight: 500;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

body {

    input,
    textarea,
    button {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 500;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        line-height: 1;
        font-weight: 500;
    }
}

#mintyou,
.mintyou,
.mincho {
    font-family: 'Shippori Mincho B1', serif;

}

.t_center {
    text-align: center;
}

.text_justify {
    text-align: justify;
    text-justify: inter-ideograph;
}

.tj {
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;
    display: block;
    font-size: 0.1em;
}